{% block body -%}
    <h1>Редактирование пользователя</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('vlad_first') }}">
                Назад к списку пользователей
            </a>
        </li>
    </ul>
{% endblock %}